.footer{
  position: fixed;
  bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: darkslateblue;
  color: white;
}
.item{
  margin: 50px;
  
}