.todoform {
  background-color: white(204, 24, 24);
  color:black;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input{
  display: block;
  width: 100%;
  border: none;
  color: black;
  font-size: 16px;
}
.input:focus{
  outline: none;
}
.button{
  display: inline-block;
  padding: 12px;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.inputcontainer{
  display: flex;
}