.header{
  background-color: darkslateblue;
  color: white;
  text-align: center;
  height: 60px;
  padding:20px;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}