.todolist{
  background-color: white;
  color:black;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}